# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
tmp/
out/
build/
app/build/
.gradle/

# Local databases and secrets
backend/database.json
local.properties

# IDE and Editor files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
